#call-to-action {
  overflow: hidden;
  position: relative;
}

#img-type, #img-type-region, #img-sex, #img-sex-region2, #img-workforce {
  width: 80%;
}

.arrows-top:before,
.arrows-bottom:after,
.arrows-top:after,
.arrows-bottom:before {

}

.arrows-top:before {
  -webkit-transform-origin: 50% 400%;
          transform-origin: 50% 400%;
  -webkit-animation: arrow-anim1 3s infinite;
          animation: arrow-anim1 3s infinite;
  z-index: -1;
}

.arrows-bottom:after {
  top: -100px !important;
  left: 85px !important;
  -webkit-transform-origin: 50% 400%;
          transform-origin: 50% 400%;
  -webkit-animation: arrow-anim2 3s infinite;
          animation: arrow-anim2 3s infinite;
  z-index: -1;
}

.arrows-top:after {
  bottom: 75px !important;
  right: 85px !important;
  -webkit-transform-origin: 50% 400%;
          transform-origin: 50% 400%;
  -webkit-animation: arrow-anim3 3s infinite;
          animation: arrow-anim3 3s infinite;
  z-index: -1;
}

.arrows-bottom:before {
  bottom: 200px !important;
  -webkit-transform-origin: 50% 400%;
          transform-origin: 50% 400%;
  -webkit-animation: arrow-anim4 3s infinite;
          animation: arrow-anim4 3s infinite;
  z-index: -1;
}

@-webkit-keyframes arrow-anim1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@keyframes arrow-anim1 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@-webkit-keyframes arrow-anim2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@keyframes arrow-anim2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@-webkit-keyframes arrow-anim3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scaleY(-1);
            transform: rotate(0deg) scaleY(-1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-90deg) scaleY(-1);
            transform: rotate(-90deg) scaleY(-1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-180deg) scaleY(-1);
            transform: rotate(-180deg) scaleY(-1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@keyframes arrow-anim3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scaleY(-1);
            transform: rotate(0deg) scaleY(-1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(-90deg) scaleY(-1);
            transform: rotate(-90deg) scaleY(-1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-180deg) scaleY(-1);
            transform: rotate(-180deg) scaleY(-1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@-webkit-keyframes arrow-anim4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(90deg) scaleY(-1);
            transform: rotate(90deg) scaleY(-1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scaleY(-1);
            transform: rotate(0deg) scaleY(-1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-90deg) scaleY(-1);
            transform: rotate(-90deg) scaleY(-1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

@keyframes arrow-anim4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(90deg) scaleY(-1);
            transform: rotate(90deg) scaleY(-1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  50% {
    opacity: 1;
    -webkit-transform: rotate(0deg) scaleY(-1);
            transform: rotate(0deg) scaleY(-1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-90deg) scaleY(-1);
            transform: rotate(-90deg) scaleY(-1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }

}

#unv-circle {
  position: absolute;
  width: 70%;
  top: 100%;
  /* transform: translateY(-25%); */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  opacity: .25;
}

@media screen and (max-width: 992px) {
  #unv-circle {
    width: 100%;
  }
  #img-type, #img-type-region, #img-sex, #img-sex-region, #img-workforce {
    width: 100%;
    margin-top: 40px;
  }
}
