body {
  /* background-color: #999; */
}

#header {
  position: relative;
  width: 100%;
  height: 720px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#animation_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#docDialog {
  position: relative;
  -webkit-box-shadow: 0 0 40px 0 rgba(1,107,166,0.6);
  -moz-box-shadow: 0 0 40px 0 rgba(1,107,166,0.6);
  box-shadow: 0 0 40px 0 rgba(1,107,166,0.6);
  background-color: rgba(255,255,255, .8);
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #053047;
  width: 80%;
  max-width: 760px;
  /* height: 460px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dlgHeader {
  font-size: 18px;
  margin-top: 60px;
  text-align: center;
}

.dlgTitle {
  font-size: 72px;
  font-weight: bold;
  margin: 70px 0 0;
  line-height: 1;
  text-align: center;
}

.dlgText {
  font-size: 18px;
  margin: 10px 0 0;
  text-align: center;
}

.buttons {
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
}

a.button {
  margin-top: 20px;
  display: inline-block;
  box-sizing: border-box;
  width: 210px;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
  font-size: 12px;
  color: #007ec5;
  text-transform: uppercase;
  text-decoration: none;
  background: url('../images/arrow.svg') no-repeat 15px 17px;
  transition: .5s all;
  /* padding: 20px 40px; */
  border: 1px solid #007ec5;
  white-space: nowrap;
  text-align: left;
}

a.button:nth-child(2) {
  margin-left: 15px;
}

a.button:active, a.button:hover {
  /* color: #00aec5; */
  /* border: 1px solid #00aec5; */
  background-color: #fff;
}

.lightblue {
  color: #007ec5;
}

.dlgAnimateIn {
  animation: dlgAnim 1s cubic-bezier(0.380, 0.240, 0.045, 0.920) 2.7s 1 backwards;
}

.buttonAnimateIn1 {
  animation: revealButtons .5s cubic-bezier(0.380, 0.240, 0.045, 0.920) 3.4s 1 backwards;
}

.buttonAnimateIn2 {
  animation: revealButtons .5s cubic-bezier(0.380, 0.240, 0.045, 0.920) 3.7s 1 backwards;
}
@keyframes dlgAnim {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes revealButtons {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (max-width:940px) {
  .dlgTitle {
    width: 80%;
  }
}
@media screen and (max-width:640px) {
  .dlgTitle {
    margin-top: 30px;
    font-size: 36px;
  }

  a.button:nth-child(2) {
    margin-left: 0;
  }

  .buttons {
    /*width: 60%;*/
    margin-top: 20px;
  }

}
